.fontanton{
    font-family: "Anton", sans-serif;
}

.fontabel{
    font-family: "Abel", sans-serif;
}

.logo {
    width: 105px;
    height: 105px;
}

.logo-bg{
    background-color: white;
    padd
}
.page-bg {
    background-color: #f0f0f0;
}