.fontanton{
    font-family: "Anton", sans-serif;
}

.fontabel{
    font-family: "Abel", sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}



.logo {
    width: 105px;
    height: 105px;
    position: relative;
    bottom: 22px;
}

.logo-bg {
    background-color: white;
    margin-top: 3em;
    margin-bottom: 2em;
    height: 60px;
}
.page-bg {
    background-color: #f0f0f0;
}
.linkstyle:link {
    color: black;
}

.title-top-margin {
    margin-bottom: 0;
}
.title-bottom-margin {
    margin-top: 0;
}

.city-margin {
    margin: 2em 0;
}

.circle {

    height: 105px;
    width: 105px;
    border: solid 5px white;
    border-radius: 100%;

}
.circle-left-margin {
    margin: 5px 5px 5px auto;
}

.circle-right-margin {
    margin: 5px auto 5px 5px;
}

.circle-border {
    border: solid 5px black;
}

.circle-small{
    width: 18px;
    height: 18px;
    border-radius: 100%;

}

.red {
    background-color: #e6563b
}
.orange {
    background-color: #dda03d;
}
.green {
    background-color: #7cb06c;
}
.blue {
    background-color: #00aba9;
}

.circle-text{
    font-size: 20px;
    text-align: center;
    margin-top: 33px;
    color:#FFF;"
}

.selected-work-margin{
    margin-top: 125px;
}

.ipad-image{
    width: 90%;
    border: 12px solid #E6E6E6;
    border-radius: 2%;
}
.ipad-margin{
    margin-top: 40px;
}

.bottom-row-margin {
    margin-bottom: 50px;
}