.fontanton{
    font-family: "Anton", sans-serif;
}

.fontabel{
    font-family: "Abel", sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}



.logo {
    width: 105px;
    height: 105px;
    position: relative;
    bottom: 22px;
}

.logo-bg {
    background-color: white;
    margin-top: 3em;
    margin-bottom: 2em;
    height: 60px;
}
.page-bg {
    background-color: #f0f0f0;
}
.linkstyle:link {
    color: black;
}